<div class="card mb-3" style="max-width: 600px;">
  <div class="row no-gutters">

    <div class="col-md-4">
      <%= image_tag menu.recipe.photo.url(:thumb), class: "card-img-top"  if menu.recipe.photo? %>
      <% if !menu.recipe.photo? %>
        <img src="https://vosmarket.ru/uploads/posts/2018-03/1521706426_vosmarket_ru-ulitki.jpg" class="card-img-top" alt="...">
      <% end %>
      <%= link_to 'Удалить', menu_path(menu), method: :delete , data: { confirm: 'Вы уверены?' }, class: "badge badge-danger" %>
    </div>

    <div class="col-md-8">
      
      <% if menu.date_meal==Date.today %>
        <div class="card-body" style="background-color: lavender">
      <% else %>
        <div class="card-body">
      <% end %>
        <h5 class="card-title"><%= menu.recipe.title %></h5>
        <p class="card-text">Данное блюдо содержит на <%= menu.weight %> грамм  - <b><%= menu.get_calories %> калорий</b></p>
        <p class="card-text"><small class="text-muted"><%= menu.date_meal %></small></p>
      </div>
    </div>
  </div>
</div>