<h1>Меню</h1>

Рецептов в вашем меню: <%= @menus.count %>
<hr>
<div class="row"> 
  <div class="col-sm-6">
    <% current_user.get_days_menu.each do |date| %>
    
      <div class="row">
        <div class="col-sm-6">
          <h3><%= date.date_meal.strftime('%d.%m.%Y') %></h3>
        </div>
        <div class="col-sm-6">
          <small>Итого калорий: <%= @menus.get_calories_of_day( date.date_meal).to_f %> из <%= current_user.get_calories %></small>
        </div>
      </div>

      <%= render @menus.get_menu_of_day(date.date_meal) %>
      <hr>
    <% end %>
  </div>

  <div class="col-sm-6">
    Для правильного питания Вам необходимо потреблять: <%= current_user.get_calories %> калорий в день <br>
    Сегодня осталось ещё съесть: <b><%= current_user.get_difference %> калорий </b><br>

    <div class="counter" data-cp-percentage="<%= current_user.get_percent %>" data-cp-color="#00bfeb"> </div>
  </div>
</div>
</div>

