<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-signin") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="text-center">
        <img class="mb-4" src="https://t3.ftcdn.net/jpg/01/24/19/88/240_F_124198813_6DR49tHyNu2PTosuisZHigywbGLylxfi.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                          placeholder: "E-mail", class: "form-control col-md-12" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "Имя пользователя на сайте", 
                          placeholder: "Имя пользователя на сайте", class: "form-control col-md-12" %>
        <%= f.text_field :phone, autocomplete: 'Телефон', placeholder: 'Телефон c форматом 80ХХХХХХХХХ', class: 'form-control col-md-12'%>
        <%= f.date_field :date_of_birth, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), autocomplete: "Дата рождения", 
                          placeholder: "Дата рождения", class: "form-control col-md-12" %>

        <%= f.radio_button(:sex, "male") %>
        <%= label :sex_male, 'мужчина' %>
        <%= f.radio_button(:sex, "female") %>
        <%= label :sex_female, 'женщина' %>
        
        <%= f.password_field :password, autocomplete: "new-password", 
                              placeholder: "Пароль (7 знаков и более)", class: "form-control col-md-12" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                              placeholder: "Подтверждение пароля", class: "form-control col-md-12" %>
  <%# <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> %>
        <div class="actions">
          <%= f.submit "Зарегистрироваться", class: "btn btn-lg btn-success btn-block" %>
        </div>
        или <%= link_to "войдите", new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>


