<div class="col-sm-9">
  <div class="comment-wrap">
    <div class="user_section">
      <div class="row">
        <div class="col-3">
          <%= image_tag comment.user.avatar.url(:thumb), class: 'rounded-circle' if comment.user.avatar? %><br>
        </div>
        <div class="col-2">
          <%= link_to comment.user.name, comment.user %><br>
          <%= comment.created_at.strftime("%m/%d/%Y") %><br>
          <%= comment.created_at.strftime("%T:%M") %>
        </div>
      </div>
    </div>        
    <div class="comment-block">
      <p class="comment-text">
        <%= comment.content %>
      </p>
      <%= link_to 'Удалить',  recipe_comment_path(comment.recipe, comment),   
                              method: :delete, data: { confirm: 'Вы уверены?' } %><BR>
    </div>
  </div>
</div>