<div class="card" style="max-width: 23rem;">
  <%= link_to recipe do %>

    <%= image_tag recipe.photo.url(:thumb), class: "card-img-top"  if recipe.photo? %>
    <% if !recipe.photo? %>
      <img src="https://vosmarket.ru/uploads/posts/2018-03/1521706426_vosmarket_ru-ulitki.jpg" class="card-img-top" alt="...">
    <% end %>

    <div class="card-body">

      <h5 class="card-title">
        <%= link_to recipe.title, recipe_path(recipe) %> 
        <% if recipe.created_at %>
          <%# <span class="badge badge-secondary">New</span> %>
        <% end %>
      </h5>

      <div class="row params">
        <div class="col-sm-7">
          Жиры: <%= recipe.get_params('fat')%> <br>
          Белки: <%= recipe.get_params('protein')%> <br>
          Углеводы: <%= recipe.get_params('sugar')%>
        </div>
        <div class="col-sm-5"><br>
          <h4 class="cal"><%= recipe.get_params('calories')%> кал </h4>
        </div>
      </div>

      <br>

      <div class="ingredients">
        <% recipe.ingredients.each do |ingredient| %>
          <%= link_to(@ingredient) do %>
            <span class="badge badge-primary"><%= ingredient.title %></span>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>

  <div class="card-footer">
    <small class="text-muted">
      Создано: <%= recipe.created_at.to_formatted_s(:db)  %> 
      by <%= link_to recipe.user.name, user_path(recipe.user.id)  %></small>
  </div>
</div>