<h2>Рецепты</h2>
<hr>
<%= form_tag(recipes_path, method: "get", remote: true) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Введите слово для поиска" %>
  <%= radio_button_tag(:sorting_by_name, "title") %>
  <%= label :sorting_by_name_title, 'По названию' %>
  <%= radio_button_tag(:sorting_by_name, "mark") %>
  <%= label :sorting_by_name_mark, 'По популярности' %>
  <%= radio_button_tag(:sorting_by_name, "created_at") %>
  <%= label :sorting_by_name_created_at, 'По дате' %>
  <%= check_box_tag(:desc, "created_at") %>
  <%= label :sorting_by_name_created_at, 'Сортировать по возрастанию' %>
  <%= submit_tag "Начать поиск" %>
<% end %>

<div class="row" id="recipe-all">
  <%= render @search_results_recipes %>
</div>
<div class="row" id="search-results">
</div>
