<h2>Recipes</h2>
<hr>
<%= link_to 'Add new recipe', new_recipe_path%>

<%= form_tag(recipes_path, method: "get", remote: true) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter search term" %>
  <%= radio_button_tag(:sorting_by_name, "title") %>
  <%= label :sorting_by_name_title, 'По названию' %>
  <%= radio_button_tag(:sorting_by_name, "mark") %>
  <%= label :sorting_by_name_mark, 'По популярности' %>
  <%= radio_button_tag(:sorting_by_name, "created_at") %>
  <%= label :sorting_by_name_created_at, 'По дате' %>
  <%= check_box_tag(:desc, "created_at") %>
  <%= label :sorting_by_name_created_at, 'QQQQ' %>
  <%= submit_tag "Search" %>
<% end %>

<div class="row" id="recipe-all">
  <%= render @search_results_recipes %>
</div>
<div class="row" id="search-results">
</div>
