<h2><%= @recipe.title %></h2>
at <%= @recipe.created_at.to_formatted_s(:db) %> <%= link_to '@'+@recipe.user.name, @recipe.user %>
<br>
<% if user_signed_in? %>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Author group">
      <% if can? :update, @recipe %>
        <%= link_to image_tag('pencil.png'), edit_recipe_path, class: "btn btn-secondary" %>
        <%= link_to image_tag('delete.png'), recipe_path(@recipe), method: :delete , data: { confirm: 'Вы уверены?' }, class: "btn btn-secondary" %>
        <%= link_to image_tag('step.png'), new_recipe_step_path(recipe_id: @recipe.id), class: "btn btn-secondary" %>
      <% end %>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="User group">
      <% if @recipe.published %>
        <% if current_user.favorite_recipes.where('recipe_id=?', @recipe).count == 1 %>
          <%= link_to image_tag('delete.png'), favorite_recipe_path(@recipe.id), 
                                              method: :delete, data: { confirm: 'Вы хотите удалить из закладок?' }, 
                                              class: "btn btn-secondary" %>
        <% else %>
          <%= link_to image_tag('bookmark.png'), favorite_recipes_path(@recipe.id), method: :post, 
                                                class: "btn btn-secondary"  %>
        <% end %>
        <% if current_user.empty_fields? %>
          <%= render partial: 'menus/form' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if (!@recipe.published) && (can? :manage, @recipe) %>
  <%= button_to "Опубликовать", { action: "publish", id: @recipe.id },
                                data: { confirm: "Вы уверены, что хотите опубликовать рецепт? 
                                Он точно отвечает все нормам?" }, class: "btn btn-success"  %>
<% end %>
<hr>

<% if @recipe.published %>
<div class="row"> 
  <div class="col-sm-9">
    Оценка: <%= @recipe.get_mark %> <small>(оценило: <%= @recipe.marks.count %>)</small>
  </div>


  <% if user_signed_in? %>
  <% if @recipe.marks.where('user_id=?', current_user).count != 1 %>
    <div class="col-sm-1 no-margin">
      <%= button_to "💗", { action: "like", controller: "marks", recipe_id: @recipe.id },
                                  data: { confirm: "Вы уверены, что хотите дать положительную отметку 
                                  данному рецепту?" }, class: "btn btn-outline-success btn-block"  %> 
    </div>
    <div class="col-sm-1 no-margin">
      <%= button_to "💔", { action: "dislike", controller: "marks", recipe_id: @recipe.id },
                                  data: { confirm: "Вы уверены, что хотите дать отрицательную отметку 
                                  данному рецепту?" }, class: "btn btn-outline-success btn-block"  %> 
    </div>
  <% else %>
    <div class="col-sm-2 no-margin">
      <small><i>(Вы уже давали оценку) </i></small>
    </div>
  <% end %>
  <% end %>
</div>
<hr>
<% end %>


<div class="row" >
  <div class="col-sm-6">
    <%= image_tag @recipe.photo.url(:large), class: "card-img-top"  if @recipe.photo? %>
    <% if !@recipe.photo? %>
      <img src="https://vosmarket.ru/uploads/posts/2018-03/1521706426_vosmarket_ru-ulitki.jpg" class="card-img-top" alt="...">
    <% end %>
  </div>
  <div class="col-sm-6">
    <ul class="compositions">
      <li>
        <%= render @recipe.compositions %>
      </li>
    </ul>
    <hr>
    <%= link_to "#"+@recipe.category.title, @recipe.category %>
  </div>
</div>

<div class="jumbotron">    
  <%= @recipe.description.html_safe %>
</div>

<% if @recipe.published %>
  <%= render @recipe.steps.order("position")%>
  <% if @recipe.comments.count == 0 %>
    <h3 align="center">Комментариев пока нет</h3>
  <% else %>
    <h3 align="center">Комментарии (<%= @recipe.comments.count %>)</h3>
  <% end %>
  <% if user_signed_in? %>
    <%= render partial: 'comments/form' %>
  <% end %>
  
  <div id="comments" class="comments">
      <%= render @recipe.comments.order(created_at: :DESC)%>
  </div>
<% end %>


