<h2><%= @recipe.title %></h2>
at <%= @recipe.created_at.strftime('%B %d, %Y %H:%M') %>
<br>
<%= link_to 'Изменить', edit_recipe_path, class: "btn btn-secondary" %>
<%= link_to 'Удалить', recipe_path(@recipe), method: :delete , data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
<% if !@recipe.published %>
  <%= button_to "Опубликовать", { action: "publish", id: @recipe.id },
                                data: { confirm: "Are you sure?" }, class: "btn btn-success"  %>
<% end %>
<hr>
<div class="row" >
  <div class="col-sm-6">
    <img src="https://vosmarket.ru/uploads/posts/2018-03/1521706426_vosmarket_ru-ulitki.jpg" class="card-img-top" alt="...">
  </div>
  <div class="col-sm-6">
    <%= @recipe.description %>
  </div>
</div>
