<h2><%= @recipe.title %></h2>
at <%= @recipe.created_at.strftime('%B %d, %Y %H:%M') %>
<br>
<%= link_to 'Изменить', edit_recipe_path, class: "btn btn-secondary" %>
<%= link_to 'Удалить', recipe_path(@recipe), method: :delete , data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
<% if !@recipe.published %>
  <%= button_to "Опубликовать", { action: "publish", id: @recipe.id },
                                data: { confirm: "Are you sure?" }, class: "btn btn-success"  %>
<% end %>
<hr>
<%= link_to 'Добавить в избрнное', favorite_recipes_path(@recipe.id), method: :post, class: "btn btn-secondary"  %>
<%= link_to 'Удалить из избранное', favorite_recipe_path(@recipe.id), method: :delete, data: { confirm: 'Вы хотите удалить из закладок?' }, class: "btn btn-secondary" %>
<hr>
<div class="row" >
  <div class="col-sm-6">
    <%= image_tag @recipe.photo.url(:large), class: "card-img-top"  if @recipe.photo? %>
    <% if !@recipe.photo? %>
      <img src="https://vosmarket.ru/uploads/posts/2018-03/1521706426_vosmarket_ru-ulitki.jpg" class="card-img-top" alt="...">
    <% end %>
  </div>
  <div class="col-sm-6">
    <ul class="compositions">
      <li>
        <%= render @recipe.compositions %>
      </li>
    </ul>
  </div>
</div>

<div class="jumbotron">    
  <%= @recipe.description.html_safe %>
</div>

<%= link_to 'Create step', new_recipe_step_path(recipe_id: @recipe.id)%>

<%= render @recipe.steps.order("position")%>

<h3 align="center">Комментарии (<%= @recipe.comments.count %>)</h3>
<%= render partial: 'comments/form' %>



<div id="comments" class="comments">
    <%= render @recipe.comments.order(created_at: :DESC)%>
</div>


