<%= form_with(model: @diet, local: true) do |f| %>
  <% if @diet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diet.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @diet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Название категории' %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Описание' %>
    <%= f.trix_editor :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :cover, 'Обложка' %>
    <%= f.file_field :cover, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>