<!DOCTYPE html>
<html>
  <head>
    <title>HealthBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #2fb62f;">
      <%= link_to 'HealthBook', recipes_path, class: 'navbar-brand'%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Книга</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Рецепты', recipes_path, class: 'nav-link'%>
              <%= link_to 'Ингридиенты', ingredients_path, class: 'nav-link'%>
            </div>
          </li>
          <li class="nav-item dropdown">
            <%= link_to 'Категории', categories_path, class: 'nav-link dropdown-toggle' %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">item</a>
              <a class="dropdown-item" href="#">item</a>
              <a class="dropdown-item" href="#">item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Диеты</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">item</a>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to 'Кухня', ingredients_kitchen_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Поиск</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Для редакции</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Предложенные рецепты', page_publish_need_path, class: 'dropdown-item'%>
              <%= link_to 'Создать категорию', new_category_path, class: 'dropdown-item'%>
            </div>
          </li>
        </ul>

        <ul class="navbar navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email%>!
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Редактировать профиль", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Избранные рецепты", favorite_recipes_path, class: "dropdown-item" %>
                <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li><%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %></li>
            <li><%= link_to "Вход", new_user_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, message| %>
          <div class="alert <%= bootstrap_class_for(name) %>">
            <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
